<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<form action="" id="pretraga">
		<input type="search" name="pretraga" id="text_pretrage">
		<button type="submit" class="btn btn-primary">Pretrazi</button>
	</form>
		</body>
		<script type="text/javascript">
			$("#pretraga").submit(function(e) {
				e.preventDefault();
				var data = {};
				data.title = $('#text_pretrage').val();
				data.message = "message";
				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					url: 'http://localhost:3030/endpoint',						
					success: function(data) {
						console.log('success');
						console.log(JSON.stringify(data));
					}
				});
			});
		</script>
		</html>